body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}
.d-block{
    text-decoration: underline
}

.lead{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lead > img{
height: 200px;
background: white
}

.lead > h3{
    font-size: 54px;
}

.interrogation{
    font-size: 73px;
    color: black;
}

.upp{
    font-size: 53px;

}