.container-fluid {
    position: absolute;
    top: 67px;
    left: 285px;
    width: 962px;
    padding: 0;
    top: 90px
  }

  @media (max-width:1199.98px) {
  .container-fluid {
    position: absolute;
    top: 78px;
    left: 3px;
    width: 99%;
  }

}